ADK_DEBUG="false" # enable this for framework logs
GOOGLE_API_KEY= # get it from https://aistudio.google.com/apikey
TAVILY_API_KEY= # get it from https://tavily.com (optional for web search)
COINGECKO_API_KEY= # <your key here>,
LLM_MODEL= "gemini-2.5-flash" #for cost efficiency, you can also use "gemini-1.5-flash"